*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.contenedor{
    display: flex;
    background: #d6c496;
    justify-content: space-between;
    padding: 10px;
    height: 300px;
    align-items: center;
}

.caja{
    height: 170px;
    width: 440px;
    color: #ffffff;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
    background: #48586f;
    justify-content: space-between;
    padding: 10px;
    color: #ffffff;
}

.navbar #logo{
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 23px;
    font-weight: bold;
    color: #ffffc0;
}
.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: #ffffc0;
    font-weight: bold;
}
